.footer{
    background-color: orange;
   



    &__nav{
        display: flex;
        justify-content: space-around;
        padding: 3rem 5rem;
        @include phone {
           flex-direction: column;
           align-items: center;
    }
    }
    &__item{
        padding: .5rem 0;
        list-style: none;

        

    }

    &__link{
        text-decoration: none;
        color: whitesmoke;

        @include phone {
    }
    }
}