.html , body{
    padding: 0;
    margin: 0;
}
.nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(8, 3, 3, 0.623) ;
    padding: .6rem 7rem;

    @include phone{
        flex-direction: column;
    }


    &__list{
        display: flex;
        justify-content: center;
        list-style: none;
    }
    &__item{
        margin: 0rem .7rem;
        padding: 0rem .7rem;
    }
    &__link{
        text-decoration: none;
        color: grey;
    }
}
.logo{
    width: 6rem;
    height: 6rem;
    border-radius: 50% ;
}
